<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/frame'); %>
    
    <!-- Content -->
    <div id="content" data-uk-height-viewport="expand: true">
      <div class="uk-container uk-container-expand">
        <div class="uk-grid uk-grid-medium" data-uk-grid>

          <!-- Panel -->
          <div class="uk-width-1-1@l uk-first-column">
            <div class="uk-card uk-card-default uk-card-small">
              <div class="uk-card-header">
                <div class="uk-grid uk-grid-small">
                  <div class="uk-width-auto"><h4>Category manage</h4></div>
                </div>
              </div>
              <div class="uk-card-body">
                <div uk-grid>
                  <div class="uk-width-1-3@l">
                    <div class="uk-panel uk-panel-scrollable" uk-height-viewport="offset-bottom: true; expand: true">
                      <ul class="uk-list">
                        <li><label>Test Category</label></li>
                        <li>
                          <label>Test Category</label>
                          <ul>
                            <li><label>Test Category 2</label></li>
                            <li><label>Test Category 2</label></li>
                            <li><label>Test Category 2</label></li>
                          </ul>
                        </li>
                        <li>
                          <label>Test Category</label>
                          <ul>
                            <li><label>Test Category 2</label></li>
                            <li><label>Test Category 2</label></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- /Panel -->

        </div>
      </div>
    </div>
    <!-- /Content -->
  </body>
</html>