<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <title><%= title %></title>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('../partials/header'); %>

    <!-- Content -->
    <!-- TODO: This page is scrollabel, but it must not do. Need to fix. -->
    <div class="uk-height-1-1">
      <div class="uk-flex uk-flex-center uk-flex-middle uk-backgroud-muted uk-height-viewport">
        <div class="uk-width-medium uk-padding-small">
          <form action="/user/new" method="post">
            <fieldset class="uk-fieldset">
              <legend class="uk-legend">New User</legend>

              <!-- Username input -->
              <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon:user"></span>
                  <input class="uk-input uk-form-large" required placeholder="Email" type="email">
                </div>
              </div>

              <!-- Password input -->
              <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                  <input class="uk-input uk-form-large" required placeholder="Password" type="password">
                </div>
              </div>

              <!-- Password Verify-->
              <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                  <input class="uk-input uk-form-large" required placeholder="Password again." type="password">
                </div>
              </div>
  
              <div class="uk-margin">
                <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Request register.</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      
    </div>
  </body>
</html>