                <!-- Button field -->
                <div class="uk-width-auto@l">
                    <div class="uk-flex uk-flex-right uk-flex-column">
                      <a href="/admin/category/new" class="uk-button uk-button-primary uk-margin-small-bottom">New Category</a>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
          </div>
          <!-- /Panel -->
    
        </div>
      </div>
    </div>
    <!-- /Content -->
  </body>
</html>