.ao-post {
  padding-bottom: 30px;
  border-bottom: 3px dotted rgb(234, 234, 234);
  margin: 30px 0 30px 0;
}

.ao-post-writer {
  margin-right: 20px!important;
}

.ao-viewport-height-85 {
  min-height: 85vh;
}