<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <title><%= title %></title>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('../partials/header'); %>

    <!-- Content -->
    <div class="uk-section uk-section-default">
      <div class="uk-container">
        <div class="uk-margin-large">
          <h2 class="uk-width-medium uk-h2">New Product</h2>
          <div class="uk-divider-small"></div>
          <form action="/product" method="post">
            <fieldset class="uk-fieldset">
              <!-- Product name -->
              <div class="uk-margin">
                <input name="product_name" type="text" class="uk-input uk-form-large" placeholder="Product name">
              </div>

              <!-- Product image -->
              <div class="uk-margin">
                <input name="thumbnail" type="text" class="uk-input" placeholder="Product thumbnail image (link)">
              </div>

              <!-- Product price -->
              <div class="uk-margin">
                <input name="price" type="number" class="uk-input" placeholder="Product price (integer)">
              </div>

              <!-- Product description -->
              <div class="uk-margin">
                <input name="description" type="text" class="uk-input" placeholder="Product description (list of images, seperate with spaces)">
              </div>

              <!-- Product Stock -->
              <div class="uk-margin">
                <input name="stock" type="number" class="uk-input" placeholder="Product stock (how many left)">
              </div>

              <input class="uk-button uk-button-primary" type="submit" value="Submit">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>