<!-- Header -->
<header id="top-head" class="uk-position-fixed">
  <div class="uk-container uk-container-expand uk-background-primary">
    <nav class="uk-navbar uk-light ao-dashboard-navbar" data-uk-navbar="mode:click; duration: 250">
      <div class="uk-navbar-left">
        <div class="uk-navbar-item uk-hidden@m">
          <a href="#" class="uk-logo"><img src="/images/Aone_logo.svg" alt="Logo" class="custom-logo"></a>
        </div>
        <ul class="uk-navbar-nav uk-visible@m">
          <li class="uk-active">Administrator Page</li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- /Header -->

<!-- Left bar -->
<aside id="left-col" class="uk-light uk-visible@m">
  <div class="left-logo uk-flex uk-flex-middle">
    <a href="/admin"><img src="/images/Aone_logo.svg" alt="Logo" class="custom-logo"></a>
  </div>
  <div class="left-nav-wrap">
    <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
      <li class="uk-nav-header">Menus</li>
      <li><a href="/admin/category"><span data-uk-icon="icon: list" class="uk-margin-small-right"></span>Category Manage</a></li>
      <li><a href="#"><span data-uk-icon="icon: image" class="uk-margin-small-right"></span>Product Manage</a></li>
      <li><a href="#"><span data-uk-icon="icon: cart" class="uk-margin-small-right"></span>Order list</a></li>
      <li><a href="/admin/user"><span data-uk-icon="icon: users" class="uk-margin-small-right"></span>User Manage</a></li>
    </ul>
  </div>
  <div class="bar-bottom">
    <ul class="uk-subnav uk-flex uk-flex-center uk-child-width-1-5" data-uk-grid>
      <li><a href="/" class="uk-icon-link" data-uk-icon="icon: home" title="Back to homepage" data-uk-tooltip></a></li>
    </ul>
  </div>
</aside>
<!-- /Left bar -->